@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
  color: rgb(25, 11, 114);
  font-weight: bold;
  text-decoration: underline;
  font-size: medium;
}

.drawer-side a {
  background-color: transparent;
}